/* Estilo para el título principal con ID 'titulo' */
#titulo {
    color: navy; /* Azul oscuro */
    text-align: center; /* Centrado */
    font-size: 30px;
}

/* Estilo para los párrafos con clase 'descripcion' */
.descripcion {
    color: #050505; /* Gris oscuro */
    font-family: Arial, sans-serif;
    background-color: #ff0000; /* Celeste claro */
    padding: 10px;
    margin-bottom: 15px;
}

/* Estilo para subtítulos con clase 'subtitulo' */
.subtitulo {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

/* Estilo para la lista */
ul {
    border: 2px solid #ff0000;
    margin: 20px;
    font-style: italic;
    color: #ff0000;
    background-color: #000000;
    padding: 10px;
}

/* Estilo para la firma */
.firma {
    text-align: right;
    font-style: italic;
    color: #000000;
    font-size: 14px;
}